:root {
  --primary-color: #630000;
  --secondary-color: #d8b6a4;
  --bg-color: #eeebdd;
}

body {
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

p {
  text-align: center;
  line-height: 20px;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 20px auto;
}

.link-sentence {
  color: var(--primary-color);
  text-decoration: none;
}

.link-sentence:hover {
  text-decoration: underline;
}
